<ion-header class="bar-stable bg-trans bar bar-header">
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="arrow-back-outline" (click)="cancelevent()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bodybg">
    <div style="margin-top:20px">
        <p>
            <ion-input type="text" placeholder="Old Password" name="oldpassword" value="" [(ngModel)]="CustomersForm.oldpassword"></ion-input>
        </p>
        <p>
            <ion-input type="text" placeholder="New Password" name="newpassword" value="" [(ngModel)]="CustomersForm.newpassword"></ion-input>
        </p>
        <p>
            <ion-input type="text" placeholder="Confirm Password" name="confirmpassword" value="" [(ngModel)]="CustomersForm.confirmpassword"></ion-input>
        </p>
        <p style="margin-top:20px">
            <ion-button color="medium" expand="block" (click)="customerchangepassword(CustomersForm)" class="loginbutton">Change Password</ion-button>
            <!-- <ion-button color="medium" expand="block" (click)="cancelevent()" class="cancelbutton">Cancel</ion-button> -->
        </p>
    </div>
</ion-content>