<ion-header class="bar-stable bg-trans bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bodybg">
  <div *ngIf="!Outstanding">
    <h2 class="center">Training Center</h2>
    <div *ngIf="type=='individual'">
      <div class="card list-course bg-trans" *ngIf="coursesList.Exam !=''">
                <ion-button expand="block" class="loginbutton" (click)="showPurchasedCourse()"> Outstanding Training Courses  <ion-icon name="caret-forward-outline"></ion-icon>  </ion-button>
      </div>
      <ion-item *ngFor="let SL of coursesList.TrainingModule">
        <ion-label     (click)="click_label(SL)">
          <a  class="link">{{SL.Module_Name}}</a>
          <p *ngIf="SL.Proctor_Login">Proctor Login Required </p>
          <!-- <a class="link">{{SL.Module_Name}}</a> -->
        </ion-label>
      </ion-item>
    </div>
  </div>
  <!-- Outstanding course -->
  <div *ngIf="Outstanding">
    <div *ngIf="type=='individual'">
        <div class="item item-icon-right heading" >
          <h1>Outstanding Training Courses</h1>
      </div>
      <ion-item *ngFor="let LS of coursesList.Exam">
        <div *ngFor="let SD of LS" >
        <ion-label >
          <h3 >{{SD.ModuleName}}</h3>
        </ion-label>
        <ion-label>
          <p>{{SD.SectionName}}</p>
        </ion-label>
      </div>
      </ion-item>
    </div>
  </div>
</ion-content>
