<ion-header class="bar-stable bar bar-header">
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-icon name="arrow-back-outline" (click)="close()"></ion-icon>
        </ion-buttons>
        </ion-buttons>
        <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['']">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bodybg" scroll="false">
    <div class="flx">
        <h2 class="title text_white">Total Questions - {{questionsOver.length}}</h2>
        <span class="float-right" id="countdown2"></span>
    </div>
    <div class="questionlist">
        <ion-slides pager="false" [options]="options" #mySlider>
            <ion-slide class="question_sec" *ngFor="let qA of questionsOver;let i=index">
                <div class="questions">
                    <h1 class="qn"> {{i+1}}) <span class="qn" [innerHtml]="qA.Text"></span></h1>
                </div>
                <ion-list class="bg-trans answers">
                    <ion-radio-group [(ngModel)]="qA.QSelected">
                        <ion-item class="bg-trans-i">
                            <ion-label class="bg-trans"><span class="optionx">A - </span><div class="ans" [innerHtml]="qA.ansver1"></div></ion-label>
                            <ion-radio slot="end" value="1" class="bg-trans" name="test1{{i}}"></ion-radio>
                        </ion-item>
                        <ion-item class="bg-trans-i">
                            <ion-label class="bg-trans"><span class="optionx">B - </span><div class="ans" [innerHtml]="qA.ansver2"></div></ion-label>
                            <ion-radio slot="end" value="2" class="bg-trans" name="test2{{i}}"></ion-radio>
                        </ion-item>
                        <ion-item class="bg-trans-i" *ngIf='qA.ansver3 != ""'>
                            <ion-label class="bg-trans"><span class="optionx">C - </span><div class="ans" [innerHtml]="qA.ansver3"></div></ion-label>
                            <ion-radio slot="end" value="3" class="bg-trans" name="test3{{i}}"></ion-radio>
                        </ion-item>
                        <ion-item class="bg-trans-i" *ngIf='qA.ansver3 != ""'>
                            <ion-label class="bg-trans"><span class="optionx">D - </span><div class="ans" [innerHtml]="qA.ansver4"></div></ion-label>
                            <ion-radio slot="end" value="4" class="bg-trans" name="test4{{i}}"> <i style="color: white !important;" class="radio-icon ion-checkmark"></i></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="over">
        <div class="center time-over">
            <h4 class="text_red">Your Exam Time is Over!</h4>
            <p class="text_white">Please click to submit!</p>
            <ion-button class="btn" (click)="answerCheck(questionsOver,sectionId)">Finish</ion-button>
        </div>
    </div>
</ion-content>
<ion-footer class="footer-bg">
    <div class="btn-flx">
        <ion-button class="btn" (click)="close()" [hidden]="!cancel">Cancel</ion-button>
        <ion-button class="btn" (click)="prev()" [hidden]="cancel">Previous</ion-button>
        <ion-button class="btn" (click)="next()" [hidden]="!nextbtn">Next</ion-button>
        <ion-button class="btn" (click)="answerCheck(questionsOver,sectionId)" [hidden]="nextbtn">Finish</ion-button>
    </div>
</ion-footer>