
<ion-header class="bar-stable bg-trans bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-icon name="arrow-back-outline" (click)="close()"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['']">        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bodybg">
  <h2>Contact Us</h2>
  <!-- <p><img alt="" src="assets/images/contact.jpg"></p> -->
  <p class="text_white" [innerHTML]="contact.sh_content"></p>

  <p style="padding:0px !important;margin-top: -56px;"><ion-button style="padding: 0 106px ;" color="medium" expand="block" class="loginbutton" (click)="emailshare()">Contact Now</ion-button></p>  
  <p class="copy-right">Copyright © 2002 Shawnee Environmental Services, Inc.</p>

  <!-- <p><a href="mailto:admin@shawneerct.com" class="link">Contact Us</a></p> -->
  <a href="go_adv.asp" target="_blank"><img name="banner" src="https://www.shawneerct.com/banner.asp?param=1228" border="0" height="66" width="474"></a>

</ion-content>
