<ion-header class="bar-stable bg-trans bar bar-header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>
        <ion-buttons slot="end">
            <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bodybg">
    <h1 class="text_title">Student Acknowledgement</h1>
    <div class="student-ack">
        <h3>SES HAZWOPER/INDUSTRIAL HYGIENE STUDENT ACKNOWLEDGEMENT OF TRAINING</h3>
        <p>
            SES, INC. student acknowledges that to be fully trained, the student must get Forty-Hour HAZWOPER
            physical with employer prior to work in a HAZWOPER Area. The student must also be provided by employer site specific information as well as hands on training with PPE equipment as per OSHA HAZWOPER Standards. I understand that a student must take a physical prior to dressout in any confining
            Personal Protective Equipment (PPE). Any dressout without a physical violates OSHA; see reference
        </p>
        <div class="ref-text">
            <p>below:</p>
            <p>January 15, 1999</p>
            <p>Mr. Paul C. Bucknam</p>
            <p>Amerada Hess Corporation</p>
            <p>1 Hess Plaza</p>
            <p>Woodbridge, NJ 07095-0961</p>
        </div>
        <p>Dear Mr. Bucknam:</p>
        <p>This is in response to your letter dated August 28, 1998, addressed to the Occupational Safety and Health Administration's (OSHA's) Directorate of Compliance Programs (DCP). In your fax, you have requested an interpretation of OSHA's Respiratory Protection Standard, 29 CFR 1910.134. We apologize for the long delay in getting this response to you.</p>
        <p>The first question regards the medical examination under the Hazardous Waste Operations and Emergency Response standard (HAZWOPER), 29 CFR 1910.120. Specifically, you asked if an employee who has received an initial medical examination to meet the HAZWOPER requirement for medical surveillance may follow the medical questionnaire allowed by 29 CFR 1910.134 to satisfy the subsequent annual/biannual medical examinations under HAZWOPER.</p>
        <p>The answer to your question is no. The medical questionnaire for 1910.134 will not satisfy the HAZWOPER requirement for medical surveillance. The intent and the requirements for medical surveillance under HAZWOPER are much different than those required by the respiratory protection standard. The intent of the HAZWOPER medical surveillance requirements is two-fold: (1) to determine fitness-for-duty, including the ability to work while wearing PPE (e.g. respirators), and (2) to establish baseline data for comparison with future medical data. The respiratory protection standard, however, requires a medical evaluation for the sole purpose of establishing an employee's ability to use a respirator.</p>
        <p>In the second question you ask if an employee who has received an initial medical examination to meet the fire brigade requirement</p>
        <p>(1910.156(b)(2)) in order to assess that personnel be physically capable of performing duties assigned to them, can the questionnaire approach allowed in the respirator standard be followed to satisfy subsequent evaluation?</p>
        <p>The answer is again no, for similar reasons as stated above. The Fire Brigade standard has provisions in 1910.156 (b)(2) which are meant to ensure the employee is physically capable of performing the functions and duties that may be assigned to them. However the Respiratory Standard is much more specific for evaluating an employee's ability to wear a respirator, therefore employees who wear respirators must also be evaluated in accordance with 1910.134(e).</p>
        <p>Thank you for your interest in safety and health. If you have any questions, please feel free to call OSHA's Office of Health Compliance Assistance at (202) 693-2190.</p>
        <div class="ref-text">
            <p>Sincerely,</p>
            <p>Richard E. Fairfax</p>
            <p>Director</p>
            <p>Directorate of Compliance Programs</p>
        </div>
    </div>
    <p class="text_white" [innerHTML]=""></p>
</ion-content>
<ion-footer class="footer-bg">
    <ion-button color="medium" expand="block" (click)="studentack()" class="stdackbutton">Continue to Submit</ion-button>
</ion-footer>