<ion-content>
  <div  class="ion-text-center">
   <p class="center">Register As</p>
        <p>
          <ion-button color="medium" expand="block" class="loginbutton" (click)="SignUp('proctorregister')">Proctor Sign Up</ion-button>
        </p>
        <p>
          <ion-button color="medium" expand="block" class="loginbutton" (click)="SignUp('register')">Individual Sign Up</ion-button>
        </p>
        <p>
          <ion-button color="medium" expand="block" class="loginbutton" (click)="SignUp('groupregister')">Group Sign Up</ion-button>
        </p>
     </div>
</ion-content>