<ion-app>

  <ion-split-pane contentId="main-content" *ngIf="networkStatus; else offlineMessage">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="bodybg" *ngIf="type != 'group'">
         <ion-refresher slot="fixed" (ionRefresh)="refreshing($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list id="inbox-list">
            <ion-list-header class="pd-4"><img style="width:150px" alt="" src="assets/images/logo.png"></ion-list-header>
            <ion-note></ion-note>
            <div *ngIf="type == 'common'">
              <ion-item   lines="none" detail="false" (click)="Home();closeMenu()"  menuClose ><ion-icon name="home"></ion-icon ><ion-label class="menu-label" >Home</ion-label></ion-item>
              <!-- <ion-item lines="none" detail="false" (click)="profile();closeMenu()"   menuClose ><ion-icon name="person"></ion-icon ><ion-label class="menu-label" >My Profile</ion-label></ion-item> -->
              <ion-item lines="none" detail="false"  (click)="trainingcenter();closeMenu()"><ion-icon name="information-circle"></ion-icon ><ion-label class="menu-label" >Training Center</ion-label></ion-item>
              <!-- <ion-item lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/Training-Report'"><ion-icon name="document-text"></ion-icon ><ion-label class="menu-label">Training Report</ion-label></ion-item> -->
              <ion-item lines="none" detail="false" *ngIf="!userid" (click)="modal_popup();closeMenu()"><ion-icon name="log-in"></ion-icon><ion-label class="menu-label">Login</ion-label></ion-item>
              <ion-item lines="none" detail="false" *ngIf="!userid" (click)="modal_popup2();closeMenu()"><ion-icon name="person-add-outline"></ion-icon><ion-label class="menu-label">Register</ion-label></ion-item>
              <ion-item lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/examguidence'"><ion-icon name="book"></ion-icon><ion-label class="menu-label">Examination Guidelines</ion-label></ion-item>
              <!-- <ion-item lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/studentack'" ><ion-icon name="mail"></ion-icon ><ion-label class="menu-label" >Student Acknowledgement</ion-label></ion-item> -->
              <ion-item lines="none" detail="false" (click)="openExternalUrl();closeMenu()"  ><ion-icon name="globe"></ion-icon ><ion-label class="menu-label" >How App Works</ion-label></ion-item>
              <ion-item lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/contactus'"><ion-icon name="call"></ion-icon ><ion-label class="menu-label">Contact Us</ion-label></ion-item>
              <!-- <ion-item *ngIf="this.languages" (click)="langChange()" > <ion-icon name="globe-outline"></ion-icon> <ion-label class="menu-label"> {{getCurrentLang()}} </ion-label></ion-item> -->
              <ion-item lines="none" (click)="closeMenu()" [routerLink]="'/aboutus'"> <ion-icon name="people"></ion-icon> <ion-label class="menu-label">About Us </ion-label></ion-item>
              <ion-item lines="none" *ngIf="userid" detail="false"  (click)="logout();closeMenu()" ><ion-icon name="log-out"></ion-icon> <ion-label class="menu-label">Logout</ion-label></ion-item>
              <p class="copy-right">Copyright © 2002 Shawnee Environmental Services, Inc.</p>
            </div>
            <div *ngIf="type == 'individual'">
              <ion-item    lines="none" detail="false" (click)="Home();closeMenu()"  menuClose ><ion-icon name="home"></ion-icon ><ion-label class="menu-label" >Home</ion-label></ion-item>
              <ion-item  lines="none" detail="false" (click)="profile();closeMenu()"   menuClose ><ion-icon name="person"></ion-icon ><ion-label class="menu-label" >My Profile <b class="text_white">( {{FullName}} )</b></ion-label></ion-item>
              <ion-item  lines="none" detail="false"  (click)="trainingcenter();closeMenu()" ><ion-icon name="information-circle"></ion-icon ><ion-label class="menu-label" >Training Center</ion-label></ion-item>
                <ion-item   lines="none" detail="false" (click)="trainingreport();closeMenu()" ><ion-icon name="document-text"></ion-icon ><ion-label class="menu-label">Training Report</ion-label></ion-item>
              <ion-item   lines="none" detail="false" *ngIf="!userid" (click)="modal_popup();closeMenu()"><ion-icon name="log-in"></ion-icon><ion-label class="menu-label">Login</ion-label></ion-item>
              <ion-item   lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/examguidence'"><ion-icon name="book"></ion-icon><ion-label class="menu-label">Examination Guidelines</ion-label></ion-item>
              <ion-item  lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/studentack'" ><ion-icon name="mail"></ion-icon ><ion-label class="menu-label" >Student Acknowledgement</ion-label></ion-item>
              <ion-item  lines="none" detail="false" (click)="work();closeMenu()"  ><ion-icon name="globe"></ion-icon ><ion-label class="menu-label" >How App Works</ion-label></ion-item>
              <ion-item   lines="none" detail="false" (click)="closeMenu()" [routerLink]="'/contactus'"><ion-icon name="call"></ion-icon ><ion-label class="menu-label">Contact Us</ion-label></ion-item>
              <!-- <ion-item *ngIf="this.languages" (click)="langChange()" > <ion-icon name="globe-outline"></ion-icon> <ion-label class="menu-label"> {{getCurrentLang()}} </ion-label></ion-item> -->
              <ion-item lines="none" (click)="closeMenu()" [routerLink]="'/aboutus'"> <ion-icon name="people" ></ion-icon> <ion-label class="menu-label">About Us </ion-label></ion-item>
              <ion-item lines="none" *ngIf="userid"  lines="none" detail="false"  (click)="logout();closeMenu()" ><ion-icon name="log-out"></ion-icon> <ion-label class="menu-label">Logout</ion-label></ion-item>
              <p class="copy-right">Copyright © 2002 Shawnee Environmental Services, Inc.</p>
            </div>
        </ion-list>
      </ion-content>
      <!-- group -->
      <ion-content class="bodybg2" *ngIf="type == 'group'">
        <ion-refresher slot="fixed" (ionRefresh)="refreshing($event)">
         <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-list id="inbox-list">
         <ion-list-header class="pd-4"><img style="width:150px" alt="" src="assets/images/logo.png"></ion-list-header>
         <ion-note></ion-note>
          <div *ngIf="type == 'group'">
            <ion-item  lines="none"  lines="none" detail="false" (click)="Home();closeMenu()"  menuClose ><ion-icon class="sz" name="home"></ion-icon ><ion-label class="menu-label clr0" >Group Home</ion-label></ion-item>
            <ion-item lines="none"  lines="none" detail="false" (click)="profile();closeMenu()"   menuClose ><ion-icon class="sz" name="person"></ion-icon ><ion-label class="menu-label clr0" >My Profile <b class="text_white">( {{FullName}} )</b></ion-label></ion-item>
              <ion-item lines="none" class="ion-text-center"><h1 class="hd-clr">Purchase Management </h1></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/purchasecourse'"><ion-label class="menu-label clr" >Module/Courses</ion-label></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/purchaseexam'"><ion-label class="menu-label clr" >Overall Exam </ion-label></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/purchasevaluepack'"><ion-label class="menu-label clr" >Value Packs </ion-label></ion-item> <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/purchaseoverall'"><ion-label class="menu-label clr" >Overall/Section Value Packs</ion-label></ion-item>
            <ion-item lines="none" class="ion-text-center"><h1 class="hd-clr">Employee Management  </h1></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/employeelist'"><ion-label class="menu-label clr" >Active Users</ion-label></ion-item> <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/deactiveemployeelist'"><ion-label class="menu-label clr" >Inactive Users</ion-label></ion-item> <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/newuser'"><ion-label class="menu-label clr" >Add New User</ion-label></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/existuser'"><ion-label class="menu-label clr" >Add Existing User </ion-label></ion-item>
            <ion-item lines="none" class="ion-text-center"><h1 class="hd-clr">Employee Reports </h1></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/trainingreport'"><ion-label class="menu-label clr" >Employee Training Report</ion-label></ion-item>
            <ion-item lines="none"  lines="none" detail="false"  (click)="closeMenu()" [routerLink]="'/home/group/testreport'"><ion-label class="menu-label clr" >Employee Test Report</ion-label></ion-item>
            <ion-item lines="none" class="ion-text-center" *ngIf="userid"  lines="none" detail="false"  (click)="logout();closeMenu()" ><ion-label class="menu-label btn-clr">Logout</ion-label></ion-item>
            <p class="copy-right">Copyright © 2002 Shawnee Environmental Services, Inc.</p>
          </div>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" (refresher)="ngOnInit()"></ion-router-outlet>
  </ion-split-pane>


  <ng-template #offlineMessage>
    <app-network></app-network>
  </ng-template>
  
</ion-app>
