<ion-header class="bar-stable bg-trans bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

      </ion-buttons>
    </ion-buttons>
    <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['']">        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="bodybg">
  <ion-list *ngIf="type=='register'" lines="none" class="ion-text-left" >
    <h2 class="ion-text-center">Individual Register</h2>

    <p>
      <ion-input type="text" placeholder="Name" [(ngModel)]="usign.fullname"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-input type="text" placeholder="Company" [(ngModel)]="usign.company"> <ion-icon class="icn" size="small" name="flag"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-input type="text" placeholder="SSN" [(ngModel)]="usign.SSN"> <ion-icon class="icn" size="small" name="documents"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-input type="text" placeholder="Email" [(ngModel)]="usign.email"> <ion-icon class="icn" size="small" name="mail"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-input type="number" placeholder="Phone Number"  [(ngModel)]="usign.phone"> <ion-icon class="icn" size="small" name="call"></ion-icon> </ion-input>
    </p>
    <ion-item *ngFor="let option of question.options">
      <ion-label>{{option}}</ion-label>
      <ion-checkbox color="secondary" value="option" (click)="onChange(option)" name="option"></ion-checkbox>
   </ion-item>
    <!-- <ion-item no-lines>
      <ion-checkbox slot="start" name="usign.groupRate"></ion-checkbox>
      <ion-label>Group Rate Email Quote</ion-label>
    </ion-item>  -->
    <p>
      <ion-input type="password" placeholder="Password" [(ngModel)]="usign.password"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-input type="password" placeholder="Confirm Password"  [(ngModel)]="usign.cpassword"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
    </p>
    <p>
      <ion-select interface="popover"  [(ngModel)]="usign.question" name="usign.question" placeholder="Select fruit"> 
        <ion-select-option value="" selected> -- Please select a hint question --</ion-select-option>
        <ion-select-option value="What is your pet's name?">What is your pet's name?</ion-select-option>
        <ion-select-option value="What is your favorite sports team?">What is your favorite sports team?</ion-select-option>
      </ion-select>
    </p>
    <p>
      <ion-input type="text" placeholder="Hint Answer" name="usign.answer" [(ngModel)]="usign.answer"> <ion-icon class="icn" size="small" name="newspaper"></ion-icon> </ion-input>
    </p> 
    <p>
      <ion-input type="text" placeholder="Comments"  [(ngModel)]="usign.comments"> <ion-icon class="icn" size="small" name="chatbox-ellipses"></ion-icon> </ion-input>
    </p> 
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="usign.sendPass"  ></ion-checkbox>
      <ion-label>Send Password to my email</ion-label>
    </ion-item>     
    <div class="center text_white bdg">
      <div class="over">
        <div>
          <ion-item lines="none" class="sm-5">            
            <ion-input type="tel" readonly value="{{rand_num1}}"> </ion-input>
          </ion-item>
        </div>
        <div class="ic">
          <ion-icon class="icn1" name="add-sharp"></ion-icon>
        </div>          
        <div>
          <ion-item lines="none" class="sm-5">            
            <ion-input type="tel" readonly value="{{rand_num2}}"> </ion-input>
          </ion-item>
        </div>       
        <div class="ic">
          <ion-icon class="icn1" name="reorder-two-sharp"></ion-icon>        
        </div>           
        <div>
          <ion-item lines="none" class="sm-5">            
            <ion-input type="tel" [(ngModel)]="usign.captcha">  </ion-input>
          </ion-item>
        </div>
      </div>      
    </div>
    <p>
      <ion-button color="medium" expand="block" class="submit" (click)="SignUp(usign)">submit</ion-button>
    </p> 
  </ion-list>

   
    <ion-list *ngIf="type=='proctorregister'" lines="none" class="ion-text-left" >
      <h2 class="ion-text-center">Proctor Register</h2>

      <p>        
        <ion-input type="text" placeholder="Name" [(ngModel)]="usign.fullname"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Email" [(ngModel)]="usign.email"> <ion-icon class="icn" size="small" name="mail"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="number" placeholder="Phone Number"  [(ngModel)]="usign.phone"> <ion-icon class="icn" size="small" name="call"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Address" [(ngModel)]="usign.address"> <ion-icon class="icn" size="small" name="location"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="City" [(ngModel)]="usign.city"> <ion-icon class="icn" size="small" name="navigate"></ion-icon> </ion-input>
      </p>
   
      <p>
        <ion-input type="text" placeholder="State" [(ngModel)]="usign.state"> <ion-icon class="icn" size="small" name="flag"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Country"  [(ngModel)]="usign.country"> <ion-icon class="icn" size="small" name="paper-plane"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Zip code" [(ngModel)]="usign.zipcode"> <ion-icon class="icn" size="small" name="pin"></ion-icon> </ion-input>
      </p> 
      <p>
        <ion-input type="text" placeholder="Certification"  [(ngModel)]="usign.certification"> <ion-icon class="icn" size="small" name="document-text"></ion-icon> </ion-input>
      </p> 
      <div class="center text_white bdg">
        <div class="over">
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" readonly value="{{rand_num1}}"> </ion-input>
            </ion-item>
          </div>
          <div class="ic">
            <ion-icon class="icn1" name="add-sharp"></ion-icon>
          </div>          
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" readonly value="{{rand_num2}}"> </ion-input>
            </ion-item>
          </div>       
          <div class="ic">
            <ion-icon class="icn1" name="reorder-two-sharp"></ion-icon>        
          </div>           
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" [(ngModel)]="usign.captcha">  </ion-input>
            </ion-item>
          </div>
        </div>      
      </div>
      <p>
        <ion-button color="medium" expand="block" class="submit" (click)="SignUp(usign)">submit</ion-button>
      </p> 
    </ion-list>

    <ion-list *ngIf="type=='groupregister'" lines="none" class="ion-text-left" >
      <h2 class="ion-text-center">Group Register</h2>

      <p>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="usign.firstname"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="usign.lastname"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Company Name" [(ngModel)]="usign.company"> <ion-icon class="icn" size="small" name="flag"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="EIN" [(ngModel)]="usign.ein"> <ion-icon class="icn" size="small" name="copy"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Email" [(ngModel)]="usign.email"> <ion-icon class="icn" size="small" name="mail"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="number" placeholder="Phone Number"  [(ngModel)]="usign.phone"> <ion-icon class="icn" size="small" name="call"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="password" placeholder="Password" [(ngModel)]="usign.password"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="password" placeholder="Confirm Password"  [(ngModel)]="usign.cpassword"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
      </p>
      <p>
     
      
        <ion-select interface="popover"  [(ngModel)]="usign.question" name="usign.question" placeholder="Select fruit">
          <ion-select-option value="" selected>-- Please select a hint question --</ion-select-option>
          <ion-select-option value="What is your pet's name?">What is your pet's name?</ion-select-option>
          <ion-select-option value="What is your favorite sports team?">What is your favorite sports team?</ion-select-option>
          <ion-select-option value="What was the name of your first school?">What was the name of your first school?</ion-select-option>
          <ion-select-option value="Who was your childhood hero?">Who was your childhood hero?</ion-select-option>
          <ion-select-option value="What is your favorite past-time?">What is your favorite past-time?</ion-select-option>
          <ion-select-option value="What is your father''s middle name?">What is your father''s middle name?</ion-select-option>
          <ion-select-option value="What was your high school mascot?">What was your high school mascot?</ion-select-option>
          <ion-select-option value="What make was your first car or bike?">What make was your first car or bike?</ion-select-option>
          <ion-select-option value="Where did you first meet your spouse?">Where did you first meet your spouse?</ion-select-option>
          <ion-select-option value="What was your mother''s maiden name?">What was your mother's maiden name?</ion-select-option>
        </ion-select>
      </p>
      <p>
        <ion-input type="text" placeholder="Hint Answer" name="usign.answer" [(ngModel)]="usign.answer"> <ion-icon class="icn" size="small" name="newspaper"></ion-icon> </ion-input>
      </p> 
    
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="usign.sendPass"  ></ion-checkbox>
        <ion-label>Send Password to my email</ion-label>
      </ion-item> 


      <div class="center">
        <h5 class="text_white cus-title">Employee-1 Details</h5>
      </div>   
      <p>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="usign.firstname1"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="usign.lastname1"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
       
      <p>
        <ion-input type="password" placeholder="Password" [(ngModel)]="usign.password1"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
      </p>

      <p>
        <ion-input type="text" placeholder="Email" [(ngModel)]="usign.email1"> <ion-icon class="icn" size="small" name="mail"></ion-icon> </ion-input>
      </p>
   
      <div class="center">
        <h5 class="text_white cus-title">Employee-2 Details</h5>
      </div>   
      <p>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="usign.firstname2"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="usign.lastname2"> <ion-icon class="icn" size="small" name="person"></ion-icon> </ion-input>
      </p>
       
      <p>
        <ion-input type="password" placeholder="Password" [(ngModel)]="usign.password2"> <ion-icon class="icn" size="small" name="lock-closed"></ion-icon> </ion-input>
      </p>

      <p>
        <ion-input type="text" placeholder="Email" [(ngModel)]="usign.email2"> <ion-icon class="icn" size="small" name="mail"></ion-icon> </ion-input>
      </p>
      <div class="center text_white bdg">
        <div class="over">
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" readonly value="{{rand_num1}}"> </ion-input>
            </ion-item>
          </div>
          <div class="ic">
            <ion-icon class="icn1" name="add-sharp"></ion-icon>
          </div>          
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" readonly value="{{rand_num2}}"> </ion-input>
            </ion-item>
          </div>       
          <div class="ic">
            <ion-icon class="icn1" name="reorder-two-sharp"></ion-icon>        
          </div>           
          <div>
            <ion-item lines="none" class="sm-5">            
              <ion-input type="tel" [(ngModel)]="usign.captcha">  </ion-input>
            </ion-item>
          </div>
        </div>      
      </div>
      <p>
        <ion-button color="medium" expand="block" class="submit" (click)="SignUp(usign)">submit</ion-button>
      </p> 
    </ion-list>
    <div class="emptyheight70px"></div>
</ion-content>
