<ion-header class="bar-stable bg-trans bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end" (click)="showPopover($event)">
      <!-- <ion-button [routerLink]="['']">
      </ion-button> -->
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only" style="color: #fff;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="bodybg">
  <!-- #region Group User -->
  <div *ngIf="type=='group'">
    <!-- #region Group Profile View  -->
    <div *ngIf="!editprofile" style="margin-top:20px">
      <!-- <p class="pt-30 text-center"><img alt="" src="assets/images/user.png" style="width:100px"><ion-icon class="editprofile"  (click)="Editprofile($event)"  name="create-outline"></ion-icon></p> -->
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-outline"></ion-icon>
        </ion-avatar>
        <ion-label *ngIf="type=='group'" >
          <p><b>{{FullName}}</b><br>I'm a Group User</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Email</b><br>{{Email}}</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="call-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Phone</b><br>{{Phone}}</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>EIN</b><br>{{Ein}}</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="business-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Company</b><br>{{Company_Name}}</p>
        </ion-label>
      </ion-item>
      <p style="margin-top:20px">
      <ion-button color="medium" expand="block" (click)="Editprofile($event)" class="login">Edit Profile</ion-button>
      </p>
    </div>
    <!-- #endregion -->
    <!-- #region Edit - Group User Profile -->
    <div *ngIf="editprofile">
      <h2 class="ion-text-center"></h2>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="person-outline"></ion-icon><span class="label">First Name</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" placeholder="First Name" name="first" value="" [(ngModel)]="CustomersForm.firstname" ></ion-input>
          </p>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="person-outline"></ion-icon><span class="label">Last Name</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" placeholder="Last Name" name="last" value="" [(ngModel)]="CustomersForm.lastname" ></ion-input>
          </p>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="mail-outline"></ion-icon><span class="label">Email</span><br>
          </ion-item>  -->
          <p>
            <ion-input type="text"  placeholder="Email Address" name="email" value="" [(ngModel)]="CustomersForm.email"></ion-input>
          </p>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="call-outline"></ion-icon><span class="label">Phone</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" placeholder="Phone Number" name="latname" value="" [(ngModel)]="CustomersForm.phone"></ion-input>
          </p>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="call-outline"></ion-icon><span class="label">Company Name</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" [disabled]="true" placeholder="Company Name" name="latname" value="" [(ngModel)]="CustomersForm.Company_Name"></ion-input>
          </p>
            <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="call-outline"></ion-icon><span class="label">EIN</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" placeholder="EIN" name="latname" value="" [(ngModel)]="CustomersForm.Ein"></ion-input>
          </p>
            <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="call-outline"></ion-icon><span class="label">Select Hint Question</span><br>
          </ion-item> -->
          <p>
          <ion-select interface="popover" cssClass="my-select"   [(ngModel)]="CustomersForm.Hint_Question"  placeholder="-- Please select a hint question --" [interfaceOptions]="{ cssClass: 'my-custom-popover' }" scrollbar="true">
            <ion-select-option value="What is your pet's name?">What is your pet's name?</ion-select-option>
            <ion-select-option value="What is your favorite sports team?">What is your favorite sports team?</ion-select-option>
            <ion-select-option value="What was the name of your first school?">What was the name of your first school?</ion-select-option>
            <ion-select-option value="Who was your childhood hero?">Who was your childhood hero?</ion-select-option>
            <ion-select-option value="What is your favorite past-time?">What is your favorite past-time?</ion-select-option>
            <ion-select-option value="What is your father''s middle name?">What is your father''s middle name?</ion-select-option>
            <ion-select-option value="What was your high school mascot?">What was your high school mascot?</ion-select-option>
            <ion-select-option value="What make was your first car or bike?">What make was your first car or bike?</ion-select-option>
            <ion-select-option value="Where did you first meet your spouse?">Where did you first meet your spouse?</ion-select-option>
            <ion-select-option value="What was your mother''s maiden name?">What was your mother's maiden name?</ion-select-option>
          </ion-select>
        </p>
          <!-- <ion-item style="margin-bottom:0px !important" class="field">
            <ion-icon name="call-outline"></ion-icon><span class="label">Answer</span><br>
          </ion-item> -->
          <p>
            <ion-input type="text" placeholder="Answer" name="latname" value="" [(ngModel)]="CustomersForm.Hint_Answer"></ion-input>
          </p>
          <ion-button color="medium" expand="block" (click)="customerRegistration()" class="login">Update Profile</ion-button>&nbsp;
          <ion-button expand="block"   color="medium" (click)="cancelevent()" class="cancelbutton">Cancel</ion-button>
    </div>
    <!-- #endregion -->
  </div>
  <!-- #endregion -->
  <!-- #region Individual User -->
  <div *ngIf="type=='individual'">
    <!-- #region Individual Profile View  -->
    <div *ngIf="!editprofile" style="margin-top:20px">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-outline"></ion-icon>
        </ion-avatar>
        <ion-label *ngIf="type=='individual'" >
          <p><b>{{FullName}}</b><br>I'm a Individual User</p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Email</b><br><span>{{Email}}</span></p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="call-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Phone</b><br><span>{{Phone}}</span></p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>SSN</b><br><span>{{SSN}}</span></p>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-avatar slot="start">
          <ion-icon name="business-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p><b>Company</b><br><span>{{Company_Name}}</span></p>
        </ion-label>
      </ion-item>
      <p style="margin-top:20px">
        <ion-button color="medium" expand="block" (click)="Editprofile($event)" class="login">Edit Profile</ion-button>
      </p>
    </div>
    <!-- #endregion -->
    <!-- #region Edit - Individual User Profile -->
    <div *ngIf="editprofile">
      <h2 class="ion-text-center">Edit Profile</h2>
      <p>
        <ion-input type="text" placeholder="Name" name="first" value="" [(ngModel)]="CustomersForm.firstname" ></ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Email Address" name="email" value="" [(ngModel)]="CustomersForm.email"></ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Phone Number" name="phone" value="" [(ngModel)]="CustomersForm.phone"></ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Comment" name="comment" value="" [(ngModel)]="CustomersForm.Comment"></ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="Company Name" name="companyname" value="" [(ngModel)]="CustomersForm.Company_Name"></ion-input>
      </p>
      <p>
        <ion-input type="text" placeholder="SSN" name="SSN" value="" [(ngModel)]="CustomersForm.SSN"></ion-input>
      </p>
      <p >
        <ion-select interface="popover" cssClass="my-select"   [(ngModel)]="CustomersForm.Hint_Question"  placeholder="-- Please select a hint question --" [interfaceOptions]="{ cssClass: 'my-custom-popover'}"  scrollbar="true">
          <ion-select-option value="What is your pet's name?">What is your pet's name?</ion-select-option>
          <ion-select-option value="What is your favorite sports team?">What is your favorite sports team?</ion-select-option>
          <ion-select-option value="What was the name of your first school?">What was the name of your first school?</ion-select-option>
          <ion-select-option value="Who was your childhood hero?">Who was your childhood hero?</ion-select-option>
          <ion-select-option value="What is your favorite past-time?">What is your favorite past-time?</ion-select-option>
          <ion-select-option value="What is your father''s middle name?">What is your father''s middle name?</ion-select-option>
          <ion-select-option value="What was your high school mascot?">What was your high school mascot?</ion-select-option>
          <ion-select-option value="What make was your first car or bike?">What make was your first car or bike?</ion-select-option>
          <ion-select-option value="Where did you first meet your spouse?">Where did you first meet your spouse?</ion-select-option>
          <ion-select-option value="What was your mother''s maiden name?">What was your mother's maiden name?</ion-select-option>
        </ion-select>
      </p>
      <p>
        <ion-input type="text" placeholder="Answer" name="latname" value="" [(ngModel)]="CustomersForm.Hint_Answer"></ion-input>
      </p>
      <ion-button color="medium" expand="block" (click)="customerRegistration()" class="login">Update Profile</ion-button>
      <ion-button color="medium" expand="block" (click)="cancelevent()" class="cancelbutton">Cancel</ion-button>
    </div>
    <!-- #endregion -->
  </div>
  <!-- #endregion -->
</ion-content>
