<ion-header class="bar-stable bg-trans bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="center"><img alt="" src="assets/images/logo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['']">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="bodybg">
  <p class="pt-15">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredLocations() " (ionCancel)="onCancel($event)" [showCancelButton]="false"></ion-searchbar>
  </p>
<div *ngIf="search">
  <div *ngFor="let u of filterData;let i=index;">
    <div *ngIf="u.User.locked == 0">
      <ion-grid>
        <ion-row  (click)="showCourse(u,i)">
          <ion-col class="name" size="8">{{u.User.fullName}}</ion-col>
          <ion-col class="amount pd" *ngIf="totalAmounts[i]">${{totalAmounts[i]}}</ion-col>
          <ion-col class="amount pd" *ngIf=" !totalAmounts[i]">$ 0</ion-col>
          <ion-col class="amount"><ion-icon class="item icn" name="create-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
<!--
      <a (click)="showCourse(u,i)">
      <h3  style="width: 139px;" class="item">{{u.User.fullName}} </h3>
      <h3 *ngIf="totalAmounts[i]" class="item"> ${{totalAmounts[i]}}</h3>
      <h3 *ngIf="!totalAmounts[i]" class="item"> $ 0</h3>
      <ion-icon class="item" name="create-outline"></ion-icon>
      </a> -->
      <div *ngIf="selectcourse[i]">
        <div class="test" *ngFor="let ls of selectcourse[i]">
          <ion-grid class="sub">
            <ion-row >
              <ion-col class="subname" size="9">{{ls.OverName }}</ion-col>
              <ion-col class="amount_inner bd" size="3">$  {{ls.Price | json}}</ion-col>
            </ion-row>
          </ion-grid>
            <!-- <p  class="item1 valuename">{{ls.OverName }}</p>
            <p  style="    float: right;" class="item1 badge badge-balanced">$ {{ls.Price | json}}</p> -->
        </div>
      </div>
    </div>
</div>
</div>
<div *ngIf="!search">
  <div *ngFor="let u of groupuser_NAMEs;let i=index;">
    <div *ngIf="u.User.locked == 0">
      <ion-grid>
        <ion-row  (click)="showCourse(u,i)">
          <ion-col class="name" size="8">{{u.User.fullName}}</ion-col>
          <ion-col class="amount pd" *ngIf="totalAmounts[i]">${{totalAmounts[i]}}</ion-col>
          <ion-col class="amount pd" *ngIf=" !totalAmounts[i]">$ 0</ion-col>
          <ion-col class="amount"><ion-icon class="item icn" name="create-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <a (click)="showCourse(u,i)">
      <h3  style="width: 139px;" class="item">{{u.User.fullName}} </h3>
      <h3 *ngIf="totalAmounts[i]" class="item"> ${{totalAmounts[i]}}</h3>
      <h3 *ngIf="!totalAmounts[i]" class="item"> $ 0</h3>
      <ion-icon class="item" name="create-outline"></ion-icon>
      </a> -->
      <div *ngIf="selectcourse[i]">
        <div class="test" *ngFor="let ls of selectcourse[i]">
          <ion-grid class="sub">
            <ion-row >
              <ion-col class="subname" size="9">{{ls.OverName }}</ion-col>
              <ion-col class="amount_inner bd" size="3">$  {{ls.Price | json}}</ion-col>
            </ion-row>
          </ion-grid>
            <!-- <p  class="item1 valuename">{{ls.OverName }}</p>
            <p  style="    float: right;" class="item1 badge badge-balanced">$ {{ls.Price | json}}</p> -->
        </div>
      </div>
    </div>
</div>
</div>
<p >
  <ion-button color="dark" *ngIf="total" expand="block" class="loginbutton" (click)="showPayment()">Purchase ${{total}}</ion-button>
</p>
</ion-content>
