<ion-header class="bar-stable bar bar-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
    </ion-buttons>
    <ion-title><img alt="" src="assets/images/logo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bodybg">
  <div class="ion-text-center over">
    <h2 class="ptitle">Proctor Sign in</h2>
    <div class="ion-text-left">
      <div style="margin-bottom:10px;">
        <ion-item lines="none">
          <ion-input type="text" placeholder="Proctor ID" [(ngModel)]="ulogin.userId"></ion-input>
        </ion-item>
      </div>
      <div style="margin-bottom:10px;">
        <ion-item lines="none">
          <ion-input type="{{inputtype}}" placeholder="Password" [(ngModel)]="ulogin.password"></ion-input>
          <ion-icon slot="end" class="show-option" size="small" (click)="toggleShow()" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
          <ion-icon slot="end" class="hide-option" size="small" (click)="toggleShow()" [hidden]="!showPassword" name="eye-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
    <p>
      <ion-button color="dark" expand="block" class="loginbutton" (click)="SignIn(ulogin)">Sign In</ion-button>
    </p>
    <p class="ion-text-right"> <a class="pforpass" (click)="forgotpass()" >Forgot Password?</a></p>
    <p class="center custom_text">New User? <a class="text-decoration-none" (click)="modal_popup()">Create an Account </a></p>
  </div>
</ion-content>
