section{  display: flex;  align-items: center;  justify-content: center;  height: 100vh;}
ion-col{  display: flex; justify-content: space-around;}
ion-img{ width: 180px; margin-bottom: 20px;}
h1{
    margin:unset;
    color: white;
}
