// app-home
// {	/*background: rgba(157, 160, 138, 0.1607843137254902);*/
// 	// --background: url('/src/assets/images/background/bg-img-1.jpg');
// 	background-size: cover;
//     bottom: 65px;
//     --background: url('/assets/images/background/bg-img-1.jpg');
// }
.bodybg{
    --background: url('../../assets/images/background/bg-img-1.jpg') no-repeat  center fixed;
    background-size: cover;

}
.bodybg3{
    --background: url('../../assets/images/background/bg-group-3.jpg') no-repeat  center fixed;
    background-size: cover;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
}
ion-item{
    --background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 3px #020200;
    // padding-top: 8px !important;
    // padding-bottom: 8px !important;
    //padding-right: 10px;
    //width: 355px;
    //margin-left: -15px;
    // text-align: center;

}
ion-menu-button{
    color:#fff !important
}
ion-label a{
    font-size: 16px !important;
    font-weight: normal !important;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
    margin-left: 12px;
}
.group_list{
    background-color: rgba(0, 0, 0, 0.01);
    line-height: 100px;
    text-align: center;
    color: #fff;
    border-color: rgba(170, 170, 170, 0.31);
}
.common-dash {
    margin: 20px 0px;
}
.home-dash{
    margin: 20px 0px;
}
.cus-grp{
    --background: transparent !important;
    border-top: 1px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 1px 3px #020200 !important;
    text-align: center !important;
}
.bar-header{
    background: url('../../assets/images/background/bg-img-1.jpg') no-repeat  center fixed;
}
.bar-header3{
    background: url('../../assets/images/background/bg-group-3.jpg') no-repeat  center fixed;
}